body {
    background-color: black
}

h1 {
    color: #d85802;
}

h2 {
    color: #d85802;
}

p {
    color: #d8c302;
}

table {
    color: #d8c302;
}

ul {
    color: #d8c302;
}

ol {
    color: #d8c302;
}

a {
    color: #d85802
}